build_info.json

^crazyflie-firmware/bin/dep/all
crazyflie-firmware/bin/*
crazyflie-firmware/.cproject
crazyflie-firmware/.project
crazyflie-firmware/.settings/*
*~
crazyflie-firmware/tools/make/config.mk
crazyflie-firmware/cflie.*
crazyflie-firmware/version.c

crazyflie-firmware/.vs/

crazyflie-firmware/cf2.*
crazyflie-firmware/cf1.*
*.gch

crazyflie-firmware/generated-test/**

crazyflie-firmware/simulink-model/crazyflie_ert_rtw/
crazyflie-firmware/simulink-model/slprj/
crazyflie-firmware/simulink-model/closed_loop.slx
crazyflie-firmware/simulink-model/open_loop.slx
crazyflie-firmware/simulink-model/crazyflie.slx
crazyflie-firmware/simulink-model/crazyflie_wrapper_loco.asv

crazyflie-firmware/src/modules/interface/crazyflie.h
crazyflie-firmware/src/modules/interface/crazyflieModel.h
crazyflie-firmware/src/modules/interface/rtmodel.h
crazyflie-firmware/src/modules/interface/rtwtypes.h
crazyflie-firmware/src/modules/src/crazyflie.c
crazyflie-firmware/src/modules/src/crazyflieModel.c
